@charset "UTF-8";

#body-main {
  background-image: linear-gradient(rgb(204, 243, 255), rgb(17, 193, 247));
  min-height: 100vh;
}

#structure {
  width: 90%; margin: 20px auto 20px auto;
}

#logoplace {
  height: 70px;
  background-image: url(../img/sky3.jpg);
}

#logotext {
  text-align: center;
  color: rgb(21, 180, 253);
  font-size: 50px;
  line-height: 70px;
  opacity: 0.2;
  text-shadow: 3px 3px lightblue;
  width: 400px;
  max-width: 90vw;
  margin: 0 auto;
}

#logotext:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

/* Menu */

#menuplace {
  background-color: #62a6ff;
  width: 100%;
  height: 34px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
  
.menulink {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
}
  
#dropdownHem {
  display: inline-block;
}

#dropdownHemcontent {
  background-color: #62a6ff;
  margin-top: 0px;
  display: none;
  position: absolute;
}
  
#dropdownHem:hover #dropdownHemcontent {
  display: block;
}
  
ul {
  float: left;
  height: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #62a6ff;
}
  
li a {
  display: block;
  color: white;
  text-align: left;
  font-size: 17px;
  padding: 0px 2vw;
  text-decoration: none;
}
  
li a:hover {
  background-color: #fff; color: #62a6ff;
}
  
.search-container {
  align-self: flex-start;
  margin: 0; 
  margin-left: auto;
  margin-right: 5px;
  padding-left: 100px;
}
  
.search-container input[type=text] {
  height: 25px; 
  margin: 0;
  margin-top: 1px;
  padding: 0 2px; 
  width: 100px;
}
  
#searchimg {
  float: right;
  height: 30px; 
}

#searchimg:hover {
  background-color: #8bbdff;
}

/* Main */

main {
  background-color: white;
  margin-top: -4px;
  padding: 20px 0px;
}

/* Headers */

h1 {
  margin: 26px;  
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: calc(1.5vh + 1.5vw);
  line-height: 1.6em;
}

h2 {
  font-size: 26px;
  line-height: 1.5em;
}

h3 {
  font-size: 24px;
  line-height: 1.4em;
}

h4 {
  font-size: 22px;
  line-height: 1.3em;
}

h5 {
  font-size: 20px;
  line-height: 1.2em;
}

h6 {
  font-size: 18px;
  line-height: 1.1em;
}

/* Test
  .p-any {
  margin: 13px auto;
  text-align: left;
  line-height: 1.6em; /* Golden ratio är ca 1,62 *//*
  font-size: 16px; /* Base-line blir ca 25.9px med golden ratio *//*
  }
*/

#div-news1 {
  position: relative;
  margin: 0;
  min-width: 320px;
  max-width: 50vw;
  display: block;
  margin: 10px auto;
}

#img-news1 {
  margin-top: 20px;
  height: auto;
  min-width: 320px;
  max-width: 50vw;
}

#news1-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  background-color: rgba(54, 25, 25, 0.3);
}

.maintext1 {
  min-width: 320px;
  max-width: 50vw;
  margin: 20px auto;
  line-height: 150%;
}

#img-link {
  color: white;
  text-decoration: none;
}
  
#img-link:hover {
  color: rgb(217, 238, 255);
  background-color: rgba(54, 25, 25, 0.3);
}

/* Footer */

#footer1 {
  margin-top: -17px;
  height: 30px;
  background-color: gainsboro;
}

#designby {
  line-height: 30px; 
  text-align: center;
  margin: 0;
}

#arrowup {
  position: fixed;
  right: 10px;
  bottom: 0px;
  opacity: 0.1;
}

#arrowup:hover {
  opacity: 1;
  width: 30px;
}

/* Artikeln kontakt.htm */

/* Add a background color and some padding around the form */
.contact-container {
  max-width: 50vw;
  min-width: 320px;
  border-radius: 5px;
  background-color: gainsboro;
  margin: 50px auto;
  padding: 10px 0;
}

label {
  display: block;
  width: 80%;
  margin: 10px 10%;
}

/* Style inputs with type="text" and textareas */
#contactform input[type="text"],
#contactform input[type="email"],
#contactform textarea {
  display: block;
  margin: 0 10%;
  padding: 15px 10px;
  width: 80%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Artikeln om.htm */

#article-om {
  min-width: 320px;
  max-width: 50vw;
  line-height: 150%;
  margin: 0 auto;
}

#img-om {
  width: 10vw;
  min-width: 100px;
  position: relative;
  float: right;
}

.text-om {
  min-width: 350px;
  margin: 20px 0;
  line-height: 150%;
}

@media screen and (max-width: 420px) {
  #structure {
    width: 100%; margin: 0;
  }

  .maintext1,
  #div-news1,
  #img-news1,
  #article-om,
  .text-om {
    min-width: 280px;
  }
  #contactform input[type=text],
  #contactform input[type=email],
  #contactform textarea,
  #contactform label,
  #contactform input[type=submit] {
  display: block;
  margin: 10px auto;
  padding: 0;
  width: 80%;
  }

  #logotext {
    font-size: 10vw;
    line-height: 70px;
    }

}

@media screen and (max-width: 680px) {
  #menuplace {
    height: 68px
  }
}

@media screen and (max-width: 1024px) {
}