@charset "UTF-8";

body {
  background-image: linear-gradient(rgb(204, 243, 255), rgb(17, 193, 247));
  height: calc(105vh + 100px);
}

#structure {
  width: 90%; margin: 20px auto 20px auto;
}

@media screen and (max-width: 380px) {
  #structure {
    width: 100%; margin: 0;
  }
}
@media screen and (max-width: 680px) {
}
@media screen and (max-width: 1024px) {
}

#logoplace {
  height: 10vh;
  min-height: 70px;
  background-image: url(../img/sky3.jpg);
}

#logotext {
  text-align: center;
  color: rgb(21, 180, 253);
  font-size: calc(49px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 100px)/(1600 - 300)));
  opacity: 0.2;
  text-shadow: 3px 3px lightblue;
  width: 400px;
  max-width: 90vw;
  margin: 0 auto;
}

#logotext:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

/* När en ny länk adderas måste height adderas med 20px */
#iframenav {
  height: 90px;
  top: 0px;
  border: 0;
  width: 100%;
  z-index: 1;
  position: relative;
}

/* När en ny länk adderas måste top subtraheras med 20px */
#contentiframe {
  z-index: 0;
  position: relative;
  top: -65px;
  min-height: 95vh;
  width: 100%;
  border: 0;
  background-color: white;  
}

/* När en ny länk adderas måste margin-top subtraheras med 20px */
#footer1 {
  margin-top: -85px;
  height: 30px;
  background-color: gainsboro;
}

#designby {
  padding-top: 5px; text-align: center;
}

#arrowup {
  position: fixed;
  right: 10px;
  bottom: 0px;
  opacity: 0.1;
}

#arrowup:hover {
  opacity: 1;
  width: 30px;
}